.calculator {
  margin: 5em auto;
  width: 20em;
  display: flex;
  flex-direction: column;
}
.calculator__display {
  text-align: right;
  margin-bottom: 2.25em;
}

.calculator__display__previous,
.calculator__display__current {
  min-height: 1.25em;
  line-height: 1.25;
  white-space: pre-wrap;
}
.calculator__display__previous {
  color: #8d8d95;
}
.calculator__display__current {
  font-size: 2em;
}
.calculator__dial {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(5, auto);
  gap: 0.5em;
}
.calculator__dial__btn {
  background-color: #d6d9e3;
  border-radius: 0.25em;
  padding: 0.4em;
  text-align: center;
}
.calculator__dial__btn:active {
  outline: 1px solid #8d8d95;
  box-shadow: 0 0 0.5em 0 #0005;
}
.calculator__dial__btn:hover {
  cursor: pointer;
}
.calculator__dial__btn--digit,
.calculator__dial__btn--point {
  background-color: #eaecf2;
}
.calculator__dial__btn--equals-sign {
  background-color: #2255ff;
  color: #fff;
}
