@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');
@font-face {
  font-family: 'BloodWax';
  src: local('BloodWax'), url('./assets/BloodWax.otf');
}

html,
body,
#root,
.App {
  min-height: 100vh;
  height: 100vh;
}

.App {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.App.theme--dark {
  background-color: #424242;
  color: #fff;
}
.App.theme--neumorphic {
  background-color: #e4ebf5;
}

sup {
  vertical-align: super;
  font-size: 0.6em;
}
