@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');

html,
body,
#root,
.App {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

sup {
  vertical-align: super;
  font-size: 0.6em;
}
