.theme-selector {
  background: rgb(48, 48, 48);
  text-align: right;
  margin-bottom: 1em;
}
.btn--theme {
  color: #aaa;
  border-radius: 6em;
  padding: 1em 1.5em;
  cursor: pointer;
}
.btn-selected {
  color: #fff;
  text-shadow: 0 0 0.3em #55546a, 0 0 0.1em #5d5c67;
}
